<a class="btn btn-primary" href="news/create">Create news</a>

<div class="mb-3" style="padding-top: 10px;">
  <label for="search" class="form-label">Search</label>
  <input type="text" class="form-control" aria-describedby="search" #search>
</div>

<div class="card-container">
  <div *ngFor="let news of newsList">
    <a routerLink="{{news.id}}">
    <div class="card">
      <div class="card-body">
        <p class="title">{{ news.title }}</p>
        <p class="subtitle">{{ news.subtitle }}</p>
      </div>
      <img src="data:image/png;base64,{{ news.image?.data }}"  alt="{{ news.title }}">
    </div>
    </a>
  </div>
</div>
