<!-- user-list.component.html -->

<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>isAdmin</th>
        <th>Change</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.emailAddress }}</td>
        <td>{{ user.isAdmin ? 'Yes' : 'No' }}</td>
        <td>
          <button (click)="promoteUser(user)">Change</button>
        </td>
      </tr>
    </tbody>
  </table>
  